---
import Page from "@layouts/Page";
import type { PageProps } from "@layouts/Page";
import Card, { CardProps } from "src/components/astro/Card.astro";
import PeopleData from "../people.json";

const props: PageProps = {
  title: "Who We Are",
  description:
    "The people involved with Arkansas Tech University's Machine Learning",
};

const people: CardProps[] = PeopleData.people;
---

<Page title={props.title} description={props.description}>
  <div class="container">
    <div class="card-container">
      {
        people.map((person, index) => (
          <Card
            key={index}
            image={person.image}
            links={person.links}
            details={person.details}
          />
        ))
      }
    </div>
  </div>
</Page>

<style lang="scss">
  .container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
  }

  .card-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
</style>
